{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading" _msthash="862355" _msttexthash="2374580">Приветствуем Вас</h1>
          <p class="lead text-muted" _msthash="841282" _msttexthash="168420070">Каждый день посетители нашего сайта публикуют сотни отзывов на различные товары — восхищаются, критикуют, ругают, ненавидят.</p>
        </div> 
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                  <p class="card-text" _msthash="1893060" _msttexthash="115771903">Каждый отзыв может стать особенным. Наша миссия донести до людей истину о всех продаваемых товарах на данном сайте. Мы ждём с нетерпением всех ваших оценок.</p>
                  <div class="d-flex justify-content-between align-items-center">
                 
              </div>
            </div>
            <div class="col-md-4">
                  <p class="card-text" _msthash="1893619" _msttexthash="115771903">Выражаем Вам свою благодарность за проявленный интерес к нашей работе! Сайт поможет Вам не только оставить отзывы о товарах, но и подробно ознакомится с отзывами других людей.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
            </div>
            <div class="col-md-4">
                  <p class="card-text" _msthash="1894178" _msttexthash="115771903">При создании сайта мы учли все современные тенденции и технологии для того, чтобы вы нашли всю интересующую Вас информацию.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div> 
            </div>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
<svg xmlns="http://www.w3.org/2000/svg" width="328" height="226" viewBox="0 0 328 226" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;" _mstHidden="1"><defs><style type="text/css"></style></defs><text x="0" y="16" style="font-weight:bold;font-size:16pt;font-family:Arial, Helvetica, Open Sans, sans-serif" _mstHash="365261" _mstTextHash="134056" _mstHidden="1">Thumbnail</text></svg></body>
{% endblock %}
